@model IEnumerable<OnlineLibrary.Models.BookModel>

@{
    ViewData["Title"] = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Books</h2>

<div class="row justify-content-center">
    @foreach (var book in Model)
    {
        <div class="col-md-4" style="margin-bottom: 20px;">
            <div class="card" style="border-radius: 8px;">
                <a href="@Url.Action("Details", "Home", new { id = book.Idbook })">
                    <img src="@Url.Content(book.ImagePath)" alt="@book.Title" class="card-img-top" style="border-radius: 8px 8px 0 0; max-height: 300px; object-fit: cover;">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">@book.Title</h5>
                    <!-- Add a form with a hidden field for book ID and a button to reserve the book -->
                    <form method="post" action="@Url.Action("ReserveBook", "Transaction")">
                        <input type="hidden" name="idbook" value="@book.Idbook" />
                        <button type="submit" class="btn btn-success btn-block">Reserve This Book</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
