@model OnlineLibrary.Models.TransactionModel

@{
    ViewData["Title"] = "DetailsTransaction";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DetailsTransaction</h1>

<div>
    <h4>TransactionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" hidden>
            @Html.HiddenFor(model => model.Idtransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idtransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idmember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idmember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idbook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idbook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retrun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retrun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idtransaction }) |
    <a asp-action="Index">Back to List</a>
</div>
