@model IEnumerable<OnlineLibrary.Models.TransactionModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idtransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idmember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idbook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retrun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idtransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idmember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idbook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retrun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Idtransaction }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Idtransaction }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Idtransaction })
            </td>
        </tr>
}
    </tbody>
</table>
